[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "==1.0"
flask-sqlalchemy = "==2.4.0"
psycopg2-binary = "==2.8.3"
alembic = "==1.0"
flask-rest-api = "==0.14.0"
shortuuid = "==0.5.0"
gunicorn = "==19.9"

[dev-packages]
pytest = "*"
ipython = "*"
flask-shell-ipython = "*"
pytest-mypy = "*"
sqlalchemy-stubs = "*"
black = "==18.9b0"
pre-commit = "*"
flake8 = "*"

[requires]
python_version = "3.7"
